{{outlet}}

<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <div class="fields">
        <div class="five wide field">
          <Input @value={{model.project.name}} type="text" placeholder="Name" value={{model.project.name}}/>
        </div>
        <div class="eleven wide field">
          <Input @value={{model.project.description}} type="text" placeholder="Description" value={{model.project.description}}/>
        </div>
      </div>
      <div class="fields">
        <div class="four wide field">
          <Input @value={{model.project.startDate}} type="text" placeholder="StartDate" value={{model.project.startDate}}/>
        </div>
        <div class="four wide field">
          <Input @value={{model.project.dueDate}} type="text" placeholder="DueDate" value={{model.project.dueDate}}/>
        </div>
        <div class="eight wide field">
          {{#ui-dropdown class="selection"}}
            <div class="default text">{{model.project.owner}}</div>
          {{/ui-dropdown}}
        </div>
      </div>
    </div>
    <button class="ui small teal button" {{action "update" model.project}}>Update</button>
    <button class="ui small red button" {{action "cancel"}}>Cancel</button>

  </div>
</div>