<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <Input @value={{model.code}} type="text" placeholder="Code"/>
    </div>
    <div class="field">
      <Input @value={{model.descriptif}} type="text" placeholder="Descriptif"/>
    </div>
    <div class="field">
      {{#ui-dropdown class="selection" onChange=(action (mut model.owner)) as |execute mapper|}}
        <div class="default text">Owner</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model.developers as |developer|}}
            <div data-value="{{map-value mapper developer}}" class="item">
              {{developer.identity}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="field">
      {{#ui-dropdown class="ui selection compact" onChange=(action (mut model.tag.color)) as |execute mapper|}}
        <div class="default text">Select</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model.colors as |color|}}
            <div data-value={{map-value mapper color.hexa}} class="item" style="color:{{color.hexa}}">
              {{color.name}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="field">
      <button class="ui small teal button" {{action "addNew" model.code model.descriptif model.owner model.project model.project.id}}>Add</button>
      <LinkTo @route="project" @model={{model.project.id}}>
        <button class="ui small red button">Cancel</button>
      </LinkTo>
    </div>
  </div>

</div>