<h2>Stories</h2>
<h4>{{model.name}}</h4>

{{outlet}}

<table class="ui fixed padded table">
  <thead>
  <tr class="center aligned">
    <th>Code</th>
    <th>Descriptif</th>
    <th></th>
  </tr></thead>
  <tbody>
  {{#each model.projects.stories as |story|}}
    <tr class="center aligned">
      <td><b>{{story.code}}</b></td>
      <td>{{story.descriptif}}</td>
      <td class="right aligned single line">
        <LinkTo @route="project" @model={{projects.id}}>
          <button class="ui icon button">
            <i class="eye icon"></i>
          </button>
        </LinkTo>
        <LinkTo @route="projects.edit" @model={{projects.id}}>
          <button class="ui icon button">
            <i class="edit icon"></i>
          </button>
        </LinkTo>
        <LinkTo @route="projects.delete" @model={{projects.id}}>
          <button class="ui red icon button">
            <i class="trash icon"></i>
          </button>
        </LinkTo>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td></td>
    <td></td>
    <td class="right aligned single line">
      <LinkTo @route="story.new" @model={{model.id}}>
        <button class="ui teal button">
          <i class="calendar plus outline icon"></i>
          Add story
        </button>
      </LinkTo>
    </td>
  </tr>
  </tbody>
</table>