<h2 class="ui header">
  <i class="folder open icon"></i>
  <div class="content">
    {{model.name}}
    <div class="sub header">{{model.description}}</div>
  </div>
</h2>

{{outlet}}

<div class="ui large relaxed divided list">
  {{#each model.stories as |story|}}
  <div class="item">
    <i class="file icon"></i>
    <div class="content">
      <a class="header">{{story.code}}</a>
      <div class="description">{{story.description}}</div>
    </div>
  </div>
  {{/each}}
</div>

<LinkTo @route="story.new" @model={{model.id}}>
  <button class="ui teal button">
    <i class="calendar plus outline icon"></i>
    Add story
  </button>
</LinkTo>