<h2 class="ui header">
  <i class="folder open icon"></i>
  <div class="content">
    {{model.name}}
    <div class="sub header">{{model.description}}</div>
  </div>
</h2>

{{outlet}}

<div class="ui big relaxed divided list">
  {{#each model.stories as |story|}}
  <div class="item">
    <i class="file icon"></i>
    <div class="content">
      <div class="right floated content">
        <div class="ui compact menu">
          <a class="item">
            <i class="user icon"></i>
            {{story.developer.identity}}
          </a>
          <a class="red item">
             Update
          </a>
        </div>
      </div>
      <a class="header">{{story.code}}</a>
      <div class="description">{{story.description}}</div>
    </div>
  </div>
  {{/each}}
</div>

<LinkTo @route="story.new" @model={{model.id}}>
  <button class="ui teal button">
    <i class="calendar plus outline icon"></i>
    Add story
  </button>
</LinkTo>